@font-face {
  font-family: CYR;
  src: url("../fonts/BC_Novatica_CYR_Regular.otf");
}
@font-face {
  font-family: PG;
  src: url("../fonts/Breakdown\ PG.otf");
}
@font-face {
  font-family: Onetwo;
  src: url("../fonts/CfOneTwoTreesRegular-4LGp.ttf");
}
@font-face {
  font-family: dance;
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family:abold;
  src: url("../fonts/fonnts.com-Aeonik-Bold.ttf");
}
@font-face {
  font-family: areg;
  src: url("../fonts/fonnts.com-Aeonik-Regular.ttf");
}
@font-face {
  font-family: libre;
  src: url("../fonts/LibreFranklin-VariableFont_wght.ttf");
}
@font-face {
  font-family:rock;
  src: url("../fonts/NewRocker-Regular.ttf");
}
@font-face {
  font-family:rage;
  src: url("../fonts/RoadRage-Regular.ttf");
}
@font-face {
  font-family:  RP;
  src: url("../fonts/SuperchargeStraightCondensed-RpVWV.otf");
}
@font-face {
  font-family:under;
  src: url("../fonts/UnderThreatDemo-vnVD4.ttf");
}
@font-face {
  font-family: wal;
  src: url("../fonts/waltograph42.otf");
}
@font-face {
  font-family: wooden;
  src: url("../fonts/Wooden\ Log.ttf");
}