section.fullelem {
  width: 100%;
  height: 100%;
  background: var(--pri);
  display: none;
  position: absolute;
  padding: 1rem;

  .back {
    position: absolute;
    right: 3%;
    top: 4%;
    padding: 0.6rem 2rem;
    color: var(--white);
    font-size: 2rem;
    font-family: areg;
    font-weight: 700;
    border-radius: 0.6rem;
    border: none;
    background: var(--orange);
    box-shadow: 2px 2px 8px #dbcfcfb7;
    transition: all 0.4s linear;
    &:active {
      scale: 0.9;
      border-radius: 1rem;
      color: var(--pri);
    }
  }
}
