:root {
  --pri: #1d1b1b;
  --sec: #ffb4b4;
  --tri1: #4f4d4de0;
  --tri2: #aaaaaa;
  --white: #fff;
  --btn: #d5835d;
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #885cf6;
  --ran: rgb(43, 42, 42);
  --dpurple: #0840a7ad;
  --lightPink: rgb(192, 136, 206);
  --green: #26a5b9b7;
  --lblue: rgb(33, 182, 205);
  --lgray: #97989853;
  --orange: rgb(225, 9, 9);
  --lwhite: #f0e6e6;
  --llwhite: #faeeee;
  --yellow: #e4d60d;
  --cyan: rgb(18, 221, 207);
  --lred: #f0e6e6;
  --crimson: hsl(348, 83%, 47%);
  --red: #e40d0d;
  --darkblack: #30303072;
  --dgray: #ffffff5e;
  --egreen: rgb(29, 95, 91);
  --corn: hsl(219, 79%, 66%);
  --agray: rgba(66, 64, 64, 0.648);
  --aqua: #00ffff;
  --bgrey: #4c4c4c43;
  --nav: hsl(180, 54%, 65%);
  --lorange: #ff6b6b;
  --lblue: #4ecde4;
  --sea: #2e8b57;
  --lgrn: #8af0cc;
  --llgrn: #a2e4cd;
  --grayc:#777;
}
