section.allelems {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  .allFeatures {
    display: flex;
    // flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: space-between;
    position: fixed;
    bottom: 0;
   margin-bottom: 0.4rem;
 

  }
  .elem {
    background-color: var(--tri2);
    overflow: hidden;
    border-radius: 1rem;
    font-size: 1.4rem;
    height: 270px;
    width: 270px;
    position: relative;
    transition: all ease 0.5s;
    box-shadow: rgba(142, 141, 141, 0.762) 0px 3px 6px,
      rgba(46, 46, 46, 0.712) 0px 3px 6px;
      margin-left: 1.6rem;
    &:active {
      scale: 0.95;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
    h2 {
      position: absolute;
      bottom: 3%;
      right: 5%;
      color: rgb(224, 230, 230);
      font-family: areg;
    }
  }
}
